<h1><%= @user.email %></h1>

<h3>Create Watchlist</h3>

<%= form_for @conn, watchlist_path(@conn, :create), [as: :watchlist], fn f -> %>
	<%= submit "Create Watchlist", class: "btn btn-primary" %>
<% end %>