<h3>Create Watchlist</h3>

<%= form_for @conn, watchlist_path(@conn, :create), [as: :watchlist], fn f -> %>
	<div>
		<label>Title</label><br>
		<%= text_input f, :title %>
	</div>
	<div>
		<label>Description</label><br>
		<%= textarea f, :description %>
	</div>
	<%= submit "Create Watchlist", class: "btn btn-primary" %>
<% end %>

<%= for watchlist <- @watchlists do %>
	<p><%= watchlist.title %></p>
<% end %>
