#open-stock-wrapper {
	background-color: #35B872;
	color: #F2EA3F;
	padding: 10px;
	padding-left: 10%;
}

#open-stock {
	display: inline-block;
	font-size: 3em;
}

#navbar {
	display: inline-block;
	padding-right: 10%;
}

#navbar li {
	display: inline-block;
	padding: 5px;
	padding-right: 10px;
}

#navbar li a {
	color: #F2EA3F;
}
